.container_container{
    height: auto;
    display: flex;
    background-color: #F2F0F0;
    flex-direction: column;
    gap: 5px;
}
.secao_banner {
    width: 100%;
    height: 470px;
    /*
    min-height: 300px;
    height: 70vh; 
    max-height: 600px; */
}
.secao_banner img{
    box-sizing: border-box;
    width: 100%;
    height: 470px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 768px) {
    .secao_banner {
        height: 50vh; 
    }
}

.secao_1{
    height: auto;
}
.secao_2{
    height: 45vh;
    background-color: grey;
}
.secao_3{
    height: 45vh;
}